<!DOCTYPE html>
<html>
<head>
  <title>UploadDemo</title>
  <%= csrf_meta_tag %> 
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <%= stylesheet_link_tag "reset.css", "960.css", "application.css" %>
  <%= javascript_include_tag "jquery-1.4.2.min", "rails", "jquery.form", "application", "jquery.uploadProgress"  %>
</head>
<body>
  <div class="container_12">
     <div class="grid_8 alpha omega prefix_2 suffix_2 panel">
       <%= yield %>
     </div> 
  </div>

</body>
</html>